
html{
    background-image: url("../img/fundo-madeira.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

a{
    color: transparent;
}
img.icon{
    width: 40px;
    border-radius: 50%;
}
body{
    width: 98%;
}
body, div.container, div.nav{
    margin: 0;
    padding: 0;
}
div.container{
    display: flex;
    justify-content: space-between;
}
div.container div.nav ul li{
    list-style: none;
}
div.celular{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

