
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    width: 100vw;
    height: 100vh;
}
body{
    background: url(../img/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100vh;
    float: left;
}
section.telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/frame-iphone.png) no-repeat;

    width: 311px;
    height: 627px;
}
section.telefone #tela{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -49.5%);

    width: 269px;
    height: 474px;
    border-radius: 4px;
}
section.nav{
    width: 100vw;
    float: right;
}
section.nav ul{
    float: right;
    align-items: center;
}
section.nav ul li{
    list-style: none;
    margin: 10px;
    padding: 5px 8px;
}
section.nav img{
    width: 40px;
    border-radius: 50%;
}

